<app-navbar></app-navbar>
<div class="relative min-h-[calc(100vh-52px)]">
  <div
    class="absolute inset-0 bg-cover bg-center z-0"
    [ngStyle]="{ backgroundImage: 'url(/man.jpg)' }"
  >
    <div class="absolute inset-0 bg-black/20"></div>
  </div>

  <!-- Content container -->
  <div class="relative z-10 container mx-auto px-4 py-6 min-h-[calc(100vh-52px)] flex flex-col">
    <div class="flex-1 flex items-center justify-start">
      <app-loan-form></app-loan-form>
    </div>

    <div class="text-white text-sm text-center md:text-left mt-auto py-4">
      <p>
        Need assistance? Kindly call these numbers: 08050936886, 08090443986, <br />
        08133591259, 09128834589, 09065703751, 09068631567, 07066900271
      </p>
    </div>
  </div>
</div>
<router-outlet />
